<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

	<!-- ============================== -->
	<!--          Camel routes          -->
	<!-- ============================== -->
	<camelContext xmlns="http://camel.apache.org/schema/spring">
		<route>
			<from uri="springws:rootqname:{http://www.webserviceX.NET/}GetQuote?endpointMapping=#endpointMapping" />
			<to uri="responseProcessor" />
		</route>
		<route>
			<from uri="springws:soapaction:http://www.webserviceX.NET/GetQuote?endpointMapping=#endpointMapping" />
			<to uri="responseProcessor" />
		</route>
		<route>
			<from uri="springws:uri:http://localhost/stockquote2?endpointMapping=#endpointMapping" />
			<to uri="responseProcessor" />
		</route>
		<route>
			<from uri="springws:xpathresult:GRABME?expression=//GetQuote&amp;endpointMapping=#endpointMapping" />
			<to uri="responseProcessor" />
		</route>
	</camelContext>
	
	<bean id="endpointMapping" class="org.apache.camel.component.spring.ws.bean.CamelEndpointMapping" />
	
	<bean id="responseProcessor" class="org.apache.camel.component.spring.ws.StockQuoteResponseProcessor" />
	
	<!-- ============================== -->
	<!--   Supporting Spring-WS beans   -->
	<!-- ============================== -->
	<bean id="webServiceTemplate" class="org.springframework.ws.client.core.WebServiceTemplate">
		<property name="defaultUri" value="http://localhost" />
		<property name="messageSender">
			<bean class="net.javacrumbs.springws.test.helper.InMemoryWebServiceMessageSender" />
		</property>
	</bean>

</beans>