<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

	<!-- ============================== -->
	<!--          Camel routes          -->
	<!-- ============================== -->
	<camelContext xmlns="http://camel.apache.org/schema/spring">
		<route>
			<from uri="springws:rootqname:{http://www.webserviceX.NET/}GetQuote?endpointMapping=#endpointMapping" />
			<to uri="responseProcessor" />
		</route>
		<route>
			<from uri="springws:soapaction:http://www.webserviceX.NET/GetQuote?endpointMapping=#endpointMapping" />
			<to uri="responseProcessor" />
		</route>
		<route>
			<from uri="springws:uri:/stockquote2?endpointMapping=#endpointMapping" />
			<to uri="responseProcessor" />
		</route>
		<route>
			<from uri="springws:xpathresult:GRABME?expression=//GetQuote&amp;endpointMapping=#endpointMapping" />
			<to uri="responseProcessor" />
		</route>
		<route>
			<from uri="springws:beanname:getQuote?endpointMapping=#endpointMapping" />
			<to uri="responseProcessor" />
		</route>
	</camelContext>
	
	<bean id="endpointMapping" class="org.apache.camel.component.spring.ws.bean.CamelEndpointMapping" />
	
	<bean id="responseProcessor" class="org.apache.camel.component.spring.ws.StockQuoteResponseProcessor" />
		
	<!-- ============================== -->
	<!--   Supporting Spring-WS beans   -->
	<!-- ============================== -->
    <bean id="httpServer" class="org.springframework.remoting.support.SimpleHttpServerFactoryBean">
        <property name="contexts">
            <map>
                <entry key="/stockquote" value-ref="soapHandler"/>
                <entry key="/stockquote2" value-ref="soapHandler"/>
                <entry key="/stockquote3" value-ref="soapHandler2"/>
            </map>
        </property>
    </bean>

    <bean id="soapHandler" class="org.springframework.ws.transport.http.WebServiceMessageReceiverHttpHandler">
        <property name="messageFactory" ref="messageFactory"/>
        <property name="messageReceiver" ref="messageReceiver"/>
    </bean>
    
    <bean id="soapHandler2" class="org.springframework.ws.transport.http.WebServiceMessageReceiverHttpHandler">
        <property name="messageFactory" ref="messageFactory"/>
        <property name="messageReceiver" ref="messageReceiver2"/>
    </bean>
    
	<bean id="messageFactory" class="org.springframework.ws.soap.saaj.SaajSoapMessageFactory" />
	
	<bean id="messageReceiver" class="org.springframework.ws.soap.server.SoapMessageDispatcher">
        <property name="endpointMappings">
        	<list>
        		<ref bean="endpointMapping"/>
        	</list>
        </property>
    </bean>
    
    <bean id="messageReceiver2" class="org.springframework.ws.soap.server.SoapMessageDispatcher">
        <property name="endpointMappings">
        	<list>
        		<ref bean="regularEndpointMapping"/>
        	</list>
        </property>
    </bean>

    <bean id="regularEndpointMapping" class="org.springframework.ws.server.endpoint.mapping.PayloadRootQNameEndpointMapping">
        <property name="mappings">
            <props>
                <prop key="{http://www.webserviceX.NET/}GetQuote">getQuote</prop>
                <prop key="{http://www.webserviceX.NET/}GetQuotes">getQuotes</prop>
            </props>
        </property>
    </bean>

	<bean id="getQuote" class="org.apache.camel.component.spring.ws.bean.CamelEndpointDispatcher" />
	
	<bean id="getQuotes" class="org.apache.camel.component.spring.ws.bean.CamelEndpointDispatcher" />
</beans>